@media (max-width: 1440px) {
 
}
@media (max-width: 1200px) {
    .container{
        width: 960px;
    }
    .resume {
        &__wrapper {
            padding: 61px 18px 65px;
            column-gap: 76px;
        }
    }  
}
@media (max-width: 992px) {
    .container{
        width: 720px;
    }
    .resume {
        &__title{
            &::before {
                top: -5px;
                left: 42%;
            }
        }
        &__subtitle {
            font-size: 24px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,324px);
            column-gap: 30px;
        }
    }
}
@media (max-width: 768px) {
    .container{
        width: 540px;
    }
    .resume {
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(1, 298px);
        }

    }
}
@media (max-width: 576px) {
    .container{
        width: 100%;
    }
    .resume {
        &__title {
            &::before {
                left: 35%;
            }
        }
        &__item {
            &-body {
                padding-left: 0px;
            }
        }
    }
}