@media (max-width: 1430px) {
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 2%/cover;
        &__wrapper {
            
        }
    }     
    .container {
        max-width: 960px;
    }

}
@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 35%/cover;
    }     
    .container {
        max-width: 960px;
        margin-right: 29px;
        margin-left: 42px;
    }
    .about {
        &__wrapper {
            column-gap: 30px;
        }
    }
}
@media (max-width: 992px) {

    .promo {
        background: url('../img/main_bg.jpg') no-repeat 24%/cover;
    }
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 34%/cover;
    }
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 34%/cover;
        &__title {
        line-height: 39px;
            width: 300px;
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block{
            width: 250px;
            padding-left: 17px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 34%/cover;
        &__btns {
            margin-top: 30px;
        }
        &__title {
            width: 80%;
        }


    }
}