.promo {

    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 1%/cover;
    padding-top: 270px;
    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
        margin-left: 16px;
    }
    &__title {
        margin-top: 10px;
        width: 535px;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: $text-color;
        font-weight: 700;
        -webkit-text-stroke: 1px white;
        &:hover {
            color: $text-color;
            text-decoration: none;
        }
    } 
}