.sidepanel {
    position: fixed;
    top: 250px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    z-index: 3;
    &__link {
        &:hover {
            svg path {
                fill: $hover-color;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: white;
    }
    &__text {
        height: 150px;
        width: 25px;
        color: white;
        span {
            transform: rotate(-90deg) translate(-30%,-277%);
            display: block;
            width: 150px;
        }
    }
}