.skills {
    padding-top: 120px;   
    &__items {
        padding-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(3, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 47px;
        justify-content: center;
    }
    &__item {
        
        /* #1 */
        border: 5px solid hsl(0, 0%, 40%);
        
        /* #2 */
        padding: 5px;
        background: hsl(0, 0%, 95%);
        
        /* #3 */
        outline: 5px solid hsl(0, 0%, 60%);
        
        /* #4 AND INFINITY!!! (CSS3 only) */
        box-shadow:
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%);

        padding: 30px 30px 25px 30px;
        &-img {
            display: flex;
            align-items: center;
            min-height: 65px;
        }
        h3 {
            margin-top: 20px;
            margin-bottom: 0;
        }
        p {
            margin-top: 15px;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 18px;
        }
    }
        &__ratings {
            margin: 120px 40px 0;
            display: grid;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 300px);
            column-gap: 45px;
            row-gap: 35px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-title {
            position: relative;
            padding: 2px 0 0 13px;
            @include before_circle2;
                &::before {
                    left: 6%;
                }
        }
        &-counter {
            font-size: 14px;
            line-height: 21px;
        }
        &-line {
            width: 300px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    } 
}