.about {
    min-height: 100%;
    position: relative;
    background: url('../img/second-font.jpg')center 50% / cover;
    padding-top: 120px;
    
    padding-bottom: 100px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &__title {
        &::before {
            top: -5px;
            left: 65px;
        }
    }
    &__photo {
        grid-row: 1/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__colortext {
        color: $about-colortext;
        text-align: justify;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills {
        margin: 15px;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 40px;
        row-gap: 20px;
        &-item {    
            width: 100%;
            max-width: 550px;
            margin: 10px auto;
            padding: 1em;
            box-shadow: 0 10px 4px rgba(0,0,0,.3), -38px 0 20px -23px rgba(0,0,0,.8), 41px 0 20px -23px rgba(0,0,0,.8), 0 0 40px rgba(0,0,0,.1) inset;
            display: grid;
            grid-template-columns: 19px 225px;
            column-gap: 30px;
        }
        &-circle {
            padding: 19px 1px 0 7px;;
            position: relative;
            @include before_circle2;
            z-index: 2;
            &::before {
                top: 5px;
                left: -13%;
                background: rgb(109, 100, 194);
                
            }
        }
        &-text {
            font-size: 12px;
            margin-top: 6px;
            line-height: 18px;
        } 
    }
}  